USE [AdventureWorks]
GO
/****** Object:  Table [dbo].[keywordfile1]    Script Date: 26-05-2023 11:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[keywordfile1](
	[column1] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
