USE [AdventureWorks]
GO
/****** Object:  Table [dbo].[research_cost]    Script Date: 26-05-2023 11:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[research_cost](
	[description] [decimal](18, 9) NULL
) ON [PRIMARY]
GO
