USE [AdventureWorks]
GO
/****** Object:  Table [dbo].[report_data]    Script Date: 26-05-2023 11:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report_data](
	[Description] [varchar](500) NULL,
	[Count] [int] NULL
) ON [PRIMARY]
GO
