USE [AdventureWorks]
GO
/****** Object:  Table [dbo].[keywordfile]    Script Date: 26-05-2023 11:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[keywordfile](
	[Column 0] [varchar](50) NULL
) ON [PRIMARY]
GO
