USE [AdventureWorks]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 26-05-2023 11:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keywords](
	[Keyword] [varchar](100) NULL
) ON [PRIMARY]
GO
