USE [AdventureWorks]
GO
/****** Object:  Table [dbo].[research_cost1]    Script Date: 26-05-2023 11:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[research_cost1](
	[column1] [decimal](18, 9) NULL,
	[column2] [decimal](18, 9) NULL,
	[column3] [decimal](18, 9) NULL,
	[column4] [decimal](18, 9) NULL
) ON [PRIMARY]
GO
